            /* mobile first design styles */
            /* --------------------------------------------------------------------------------------------- */
            @media only screen and (max-width: 400px) {

                .logo-login-btn-container {
                    /* border:1px solid black; */
                    width: 100%;
                }

                .first-login-btn {
                    background-color: #fff;
                    border: 1px solid #1da1f2;
                    color: #1da1f2;
                    padding: 13px;
                    border-radius: 100px;
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 12px;
                    line-height: 16px;
                    float: right;
                    margin: 3px;
                    display: block;
                    font-family: "Segoe UI", Arial san-serif;
                }

                .welcome-text-container {
                    width: 100%;
                    /* margin-bottom:35px; */
                }

                .welcome-text {
                    font-size: 27px;
                    line-height: 32px;
                    font-family: "Segoe UI", Arial, sans-serif;
                    color: #14171a;
                    margin-bottom: 40px;

                }

                .join-twitter-text {
                    color: #14171a;
                    font-size: 18px;
                    line-height: 24px;
                    margin: 16px auto;
                    font-family: "Segoe UI", Arial, sans-serif;
                }

                .sign-up-btn {
                    padding: 7px;
                    border: none;
                    border-radius: 100px;
                    font-weight: bold;
                    width: 100%;
                    margin: 15px auto;
                    font-family: "Segoe UI", Arial, sans-serif;
                    color: #fff;
                    background-color: #1da1f2;
                    cursor: pointer;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    line-height: 20px;
                }

                .log-in-btn {
                    padding: 7px;
                    border: 1px solid #1da1f2;
                    border-radius: 100px;
                    font-size: 14px;
                    font-weight: bold;
                    width: 100%;
                    margin: 15px auto;
                    font-family: "Segoe UI", Arial, sans-serif;
                    color: #1da1f2;
                    background-color: #fff;
                    cursor: pointer;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    line-height: 20px;

                }
            }

            /*styles for social container  */
            .social-container {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                background-color:#1b95e0;
            }
            /* styles for icons */
            .second{
                /* color:blue; */
                position: absolute;
                top:400px;
                left:22px;
                z-index:0;
            }
            .icons {
                margin-right: 20px;
                /* border:1px solid red; */
            }
            /* =================================== */

            .social{
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                color:#fff;
                font-family: "Segoe UI",Arial,sans-serif;
                margin:10px;
            }
            .social-item {
                float: left;
                clear: right;
                display: flex;
                height: 75px;

            }

            /* ======================================= */
            /* styles for footer container */
            .footer-item-container {
                display: flex;
            }

            .footer-item {
                display: inline-block;
                margin: 5px auto;
                color: #777;
            }

            .footer-link {
                cursor: pointer;
            }

            /* ======================================== */
            /* -------------------------------------------------------------------------------------------- */
            /* end of mobile design */
